@import "src/style/adaptive";
@import "src/style/windowWidth";
@import "src/style/colors";

%style_btn_hover{
  background-color: $color_accent;
}

%style_btn_active{
  background-color: $color_accent;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.Button{
  width: 50%;
  min-width: 240px;
  border-radius: 50px;
  white-space: nowrap;
  @include adaptive-value(font-size, 64, 20, 1);
  @include adaptive-value(padding-top, 17, 10, 1);
  @include adaptive-value(padding-bottom,17, 10, 1);
  @extend %double_shadow;

  @media screen and (max-width: $minWidth){
    width: 80%;
    @include adaptive-value(font-size, 20, 35, 1);
  }

  &:hover{
    @extend %style_btn_hover;
  }

  &:active{
    @extend %style_btn_active;
  }

  &:disabled{
    cursor: not-allowed;
    color: $color_placeholder;
    background: $color_menu_bg;
  }
}

.success{
  background: $color_bg;
}

.error{
  background: $color_error;
}

.primary{
  background: $color_focus;
}