@import "src/style/adaptive";
@import "src/style/windowWidth";
@import "src/style/colors";

%style_btn_hover{
  background-color: $color_accent;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

%style_btn_active{
  background-color: $color_accent;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.Button{
  white-space: nowrap;
  color: $color_white;
  margin-top: 20px;
}

.button__link{
  @include adaptive-value(font-size, 64, 14, 1);
  @include adaptive-value(padding-right, 52, 20, 1);
  @include adaptive-value(padding-left, 52, 20, 1);
  @include adaptive-value(padding-top, 17, 10, 1);
  @include adaptive-value(padding-bottom, 17, 10, 1);
  background-color: $color_accent;
  @extend %btn_shadow;
  border-radius: 50px;

  &:hover{
    @extend %style_btn_hover;
  }

  &:active{
    @extend %style_btn_active
  }
}