@import "colors";
@import "noneStyle";
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Inria+Serif:wght@400;700&display=swap');

*{
  font-family: 'Imprima', sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  color: $color_black;
}
.App{
  height: 100vh;
}

h3{

}