$color_bg: #E9FAFF;
$color_accent: #FF7A00;
$color_focus: #FFE8FF;
$color_black: #000000;
$color_white: #FFFFFF;
$color_focus_55: rgba(255, 232, 255, 0.55);
$color_menu_bg: rgba(255, 255, 255, 0.71);
$color_search_bg: #FFFDFA;
$color_my_recipes_bg: #FFFAFF;
$color_details: #FFEEDE;
$color_error: #ff2600;
$color_placeholder: rgba(0, 0, 0, 0.44);


%menu_shadow{
  box-shadow: 0 7px 17px rgba(0, 0, 0, 0.16);
}

%btn_shadow{
  box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.25);
}

%double_shadow{
  border-radius: 50px;
  border: 5px solid $color_black;
  filter: drop-shadow(8px 8px 4px $color_search_bg) drop-shadow(3px 3px 0px $color_black);
}

%recipe_shadow{
  border-radius: 50px;
  border: 5px solid $color_accent;
  filter: drop-shadow(8px 8px 4px $color_search_bg) drop-shadow(3px 3px 0px $color_accent);
}