@import "src/style/adaptive";
@import "src/style/windowWidth";
@import "src/style/colors";

.Search{
  & h2{
    @include adaptive-value(font-size, 96, 50, 1);
    @include adaptive-value(margin-bottom, 84, 40, 1);
  }
}

.search__content{
  @include adaptive-value(margin-top, 84, 40, 1);
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.recipe{
  flex: 0 0 550px;
  height: 550px;

  @media screen and (max-width: $middleWidth){
    flex: 0 1 80%;
  }

  @media screen and (max-width: $minWidth){
    flex: 0 1 100%;
  }
}

.more{
  @include adaptive-value(font-size, 36, 20, 1);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &:hover{
    opacity: 70%;

    & p{
      color: $color_accent;
    }
  }
  &:active{
    opacity: 100%;
  }
}